::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border-radius: 4px;
}

* {
    user-select: none;
}